In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.2.0'

<h1>판다스 - 시리즈(Series)</h1>

In [9]:
sr = pd.Series([10000, 16000, 1500, 4000],
        index = ["피자", "치킨", "콜라", "맥주"])
print(sr)

피자    10000
치킨    16000
콜라     1500
맥주     4000
dtype: int64

In [5]:
print(sr.values)

[10000 16000  1500  4000]

In [10]:
print(sr.index)

Index(['피자', '치킨', '콜라', '맥주'], dtype='object')

<h1>판다스 - 데이터프레임(DataFrame) </h1>

In [12]:
values = [[1,2,3], [4,5,6],[7,8,9]]
index = ['one','two','three']
columns = ['A','B','C']

df = pd.DataFrame(values, index=index, columns = columns)
print(df)

       A  B  C
one    1  2  3
two    4  5  6
three  7  8  9

In [13]:
print(df.index)

Index(['one', 'two', 'three'], dtype='object')

In [14]:
print(df.columns)

Index(['A', 'B', 'C'], dtype='object')

In [15]:
print(df.values)

[[1 2 3]
 [4 5 6]
 [7 8 9]]

<h3>데이터프레임의 생성</h3>

In [17]:
data = [
    ['1000', 'Steve', 90.72], 
    ['1001', 'James', 78.09], 
    ['1002', 'Doyeon', 98.43], 
    ['1003', 'Jane', 64.19], 
    ['1004', 'Pilwoong', 81.30],
    ['1005', 'Tony', 99.14],
]
df = pd.DataFrame(data)
print(df)

      0         1      2
0  1000     Steve  90.72
1  1001     James  78.09
2  1002    Doyeon  98.43
3  1003      Jane  64.19
4  1004  Pilwoong  81.30
5  1005      Tony  99.14

In [20]:
df = pd.DataFrame(data, columns = ['학번', '이름', '점수'])
print(df)

     학번        이름     점수
0  1000     Steve  90.72
1  1001     James  78.09
2  1002    Doyeon  98.43
3  1003      Jane  64.19
4  1004  Pilwoong  81.30
5  1005      Tony  99.14

In [21]:
data = { '학번' : ['1000', '1001', '1002', '1003', '1004', '1005'],
'이름' : [ 'Steve', 'James', 'Doyeon', 'Jane', 'Pilwoong', 'Tony'],
         '점수': [90.72, 78.09, 98.43, 64.19, 81.30, 99.14]}

df = pd.DataFrame(data)
print(df)

     학번        이름     점수
0  1000     Steve  90.72
1  1001     James  78.09
2  1002    Doyeon  98.43
3  1003      Jane  64.19
4  1004  Pilwoong  81.30
5  1005      Tony  99.14

<h3>데이터프레임 조회</h3>

In [23]:
df.head(2)

     학번     이름     점수
0  1000  Steve  90.72
1  1001  James  78.09

In [24]:
df.tail(3)

     학번        이름     점수
3  1003      Jane  64.19
4  1004  Pilwoong  81.30
5  1005      Tony  99.14

In [25]:
df['이름']

0       Steve
1       James
2      Doyeon
3        Jane
4    Pilwoong
5        Tony
Name: 이름, dtype: object

<h2>외부 데이터 읽기</h2>

In [26]:
df = pd.read_csv(r'C:\Users\user\Documents\example.csv')
print(df)

   student id      name  score
0        1000     Steve  90.72
1        1001     James  78.09
2        1002    Doyeon  98.43
3        1003      Jane  64.19
4        1004  Pilwoong  81.30
5        1005      Tony  99.14

In [27]:
print(df.index)

RangeIndex(start=0, stop=6, step=1)